/*
  Name: June Kim
  CS 101 Spring 2021
  Date: June 2, 2021

  This is the styles_form.css file used to style the forms in contact.html and admin.html pages of
  Sunset Cocktails website.
*/

main {
  padding: 50px;
}

main h2, main p {
  text-align: center;
}

input, textarea {
  width: 100%;
  margin-top: 10px;
}

form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

form > div {
  margin: 20px 0px;
}
