/*
 * Styles for HW 2 Set! Test Output.
 *
 * Credit to Jack Venberg for initial tests.
 */
summary {
  padding: .5rem;
  border-radius: .2rem;
  margin: .5rem 0;
  cursor: pointer;
}

pre {
  font-size: 10pt;
  padding: 8px;
  margin-left: 20px;
  width: fit-content;

  background-color: #f3f3f3;
}

summary > span {
  float: right;
}

details details {
  margin-top: 0;
  margin-bottom: 0;
  border-left: 2px solid black;
  padding: 5px;
}

details details summary {
  margin: 0;
}

#tester-container section, #tester-container p, details details {
  margin-left: 15px;
}

#tester-container {
  text-align: left;
}

@media only screen and (min-width: 800px) {
  summary {
    width: 60%;
  }
}

#tester-container #disclaimer span {
  color: red;
  font-weight: bold;
}

.no-show {
  display: none;
}

.passed {
  color: white;
  background-color: green;
}

.error {
  color: white;
  background-color: red;
}

